@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  font-family: "Microsoft JhengHei",微軟正黑體;
  margin: 0;
  padding: 0;
}

#primary-area {
  display: flex;
  justify-content: center;
  margin: 5%;
}

#primary-area .cal-container {
  max-width: 61.07vw;
  min-width: 465px;
  background-color: #2EA9DF;
  border: 4px;
  border-style: outset;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

#primary-area .cal-container h1 {
  width: 60%;
  color: #333;
  background-color: #7DB9DE;
  border: 4px;
  border-style: outset;
  border-radius: 15px;
  font-size: 250%;
  text-shadow: 0.04em 0.01em #4d4d4d;
  text-align: center;
  margin: 25px auto;
  padding: 10px;
}

#primary-area .cal-container h2 {
  font-size: 175%;
  text-shadow: 0.04em 0.01em #333;
  transition: 0.3s;
  padding: 0 10px;
}

#primary-area .cal-container input {
  height: 55px;
  color: #ffffffea;
  background-color: #91989f;
}

#primary-area .cal-container text {
  font-size: 180%;
}

#primary-area .cal-container h1:hover {
  color: #ffffffea;
  cursor: pointer;
}

#primary-area .cal-container h1:hover::before {
  opacity: 1;
}

#primary-area .cal-container h1::before {
  content: "";
  width: 100%;
  height: 5px;
  display: block;
  background-color: plum;
  border-radius: 15px;
  opacity: 0;
  transition-duration: 0.3s;
  position: absolute;
  bottom: 0;
  left: 0;
}

#primary-area .cal-container > h1 {
  opacity: 1;
  transition-duration: 0.5s;
}

#primary-area .cal-container h2:hover {
  color: #9c9c9ce3;
  cursor: pointer;
  transition-duration: 0.5s;
}

#primary-area .cal-container .height-container {
  width: 70%;
  background-color: #FB9966;
  border: 4px;
  border-style: outset;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

#primary-area .cal-container .height-container .height {
  width: 36%;
  font-size: 35px;
  text-align: center;
}

#primary-area .cal-container .bw-container {
  width: 70%;
  background-color: #FB9966;
  border: 4px;
  border-style: outset;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

#primary-area .cal-container .bw-container h2:nth-child(3) {
  margin: 0 5px;
}

#primary-area .cal-container .bw-container .weight {
  width: 36%;
  font-size: 35px;
  text-align: center;
}

#primary-area .cal-container .btn-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

#primary-area .cal-container .btn-container .startCal {
  width: 35%;
  height: 70px;
  background-color: #91989f;
  border: 4px;
  border-style: outset;
  border-radius: 15px;
  font-size: 200%;
  text-shadow: 0.05em 0.01em #333;
}

#primary-area .cal-container .btn-container .reset {
  width: 35%;
  height: 70px;
  background-color: #91989F;
  border: 4px;
  border-style: outset;
  border-radius: 15px;
  font-size: 200%;
  text-shadow: 0.05em 0.01em #333;
}

#primary-area .cal-container .btn-container button:hover {
  color: #ffffffea;
  background-color: #80868d;
  cursor: pointer;
  transition-duration: 0.3s;
}

#primary-area .cal-container .btn-container button:active {
  background-color: #df867c;
  border: 4px solid #ffffff;
  border-style: outset;
  border-radius: 15px;
  transition-duration: 0.08s;
}

#primary-area .cal-container .result-area {
  background-color: #91989F;
  border: 4px solid #ffffff;
  border-style: outset;
  border-radius: 15px;
  line-height: 1em;
  opacity: 0;
}

#primary-area .cal-container .result-area > p {
  width: 100%;
  font-size: 120%;
  text-shadow: 0.05em 0.01em #333;
  transition: 0.5s;
  transition-duration: 1s;
  margin-left: 45px;
}

#primary-area .cal-container .result-area > p:hover {
  width: 100%;
  color: #ffffffea;
  text-shadow: 0.05em 0.01em #ffffffea;
  transition: 0.5s;
  transition-duration: 1s;
}

#primary-area .cal-container .result-area.show {
  width: 80vh;
  height: 20vw;
  opacity: 1;
  transition: 0.5s;
  transition-duration: 1s;
  margin-top: 5px;
}
